body {
    font-family: 'Fredoka', sans-serif;
    display: flex;
}

.profile-items ul a:after {
    display: block;
    content: '';
    border-bottom: solid 3px whitesmoke;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.profile-bg {
    background-color: #AB095A;
    padding: 8%;
}

.profile-items ul a:hover:after {
    transform: scaleX(1);
}

.profile-items ul a:after {
    transform-origin: 100% 50%;
}

.profile-items ul a:after {
    transform-origin: 50% 100%;
}

.img-shadow {
    border: transparent;
    box-shadow: 0px 0px 25px black;
}

.table-data td {
    font-weight: bold;
}

/*Css for chat*/

.wrapper {
    background: #fff;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

/*Css for chat header*/

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    color: #333;
    font-size: 18px;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header .details span {
    font-size: 17px;
    font-weight: 500;
}

/*Css for chat box*/

.chat-box {
    position: relative;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    background: #f7f7f7;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
    0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.chat-box .incoming .details {
    margin-right: auto;
    margin-left: 10px;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

/*Css for typing area*/

.typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.typing-area button {
    color: #fff;
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    font-size: 19px;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.typing-area button.active {
    opacity: 1;
    pointer-events: auto;
}
                                               /*index.php page*/
body{

    background-color: #c9adba;
}
#parent_div{width: 100%; height: 100%;}
.header_navbar{
    width: 100%;
    height: 100px;
    background-color: #cd4e89;
    margin-left: 2px;
    margin-right: 2px;
}
.header_navbar_logo{
    width: 20%;
    float: left;
    height: 80px;
    background-color: #AB095A;
    margin: 6px 3px;
}
.header_navbar_contents{
    margin: 6px 3px;
    float: right;
    width: 40%;
    height: 80px ;
}
.header_navbar_contents_child{
    width: 100%;
    height: 40%;
    margin-top: 20px;
}
.header_navbar_contents a{text-decoration: none;font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;letter-spacing: 4px; font-size: 13px;
    margin: 20px;}
.header_navbar_contents a:hover{color:#ffffff ;font-size: 15px;}
.banner{
    width: 100%;
    height: 100%;
    background-color: #cd4e89;
    margin-top: 20px;
}
#banner-image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    height:510px;
    background: url('../images/index_image-1.jpg') no-repeat center center;
}
#banner_content{
    position: relative;
    margin-top: 30px ;
    margin-left: 1px;
    padding:20px 20px 20px 70px ;
    background-color: rgba(0, 0, 0, 0.1);max-width: 800px;
    border-radius: 30px;
}
.btn {
    border-radius: 12px;
    background-color: #bb85a1;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #9b7b8c;
    color: white;
}
.profiles_for_guest{
    width: 100%;
    height: 600px;
    background-color: #cd4e89;
    margin-top: 20px;
}
.profiles_holder{
    width: 90%;
    margin-left: 70px;
    margin-right: 50px;
}
.profiles_for_guest_container{
    margin-left:20px;
    position: relative;
    width: 300px;
    height: 150px;
    float: left;

}
.profiles_for_guest_middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:120%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.profiles_for_guest_image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.profiles_for_guest_container:hover .profiles_for_guest_middle{
    opacity: 1;
}
.profiles_for_guest_container:hover .profiles_for_guest_image{
    opacity: 0.3;
}

