body{
    font-family: 'Fredoka', sans-serif;
    display: flex;
}
.profile-items ul a:after {
    display: block;
    content: '';
    border-bottom: solid 3px whitesmoke;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.profile-bg{
    background-color: #AB095A;
    padding: 8%;
}
.profile-items ul a:hover:after {
    transform: scaleX(1);
}

.profile-items ul a:after {
    transform-origin: 100% 50%;
}

.profile-items ul a:after {
    transform-origin: 50% 100%;
}

.img-shadow {
    border: transparent;
    box-shadow: 0px 0px 25px black;
}
.table-data td {
    font-weight: bold;
}